<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>606492405575-5iamktgf99bpq497rh1142c4od8brij6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.606492405575-5iamktgf99bpq497rh1142c4od8brij6</string>
	<key>API_KEY</key>
	<string>AIzaSyBBlW0fLkaeynoos-LxhuO8dEIFVPWBSvc</string>
	<key>GCM_SENDER_ID</key>
	<string>606492405575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mmhi.DisasesClassificationApp</string>
	<key>PROJECT_ID</key>
	<string>mangoleafdiseases</string>
	<key>STORAGE_BUCKET</key>
	<string>mangoleafdiseases.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:606492405575:ios:5d63c2c1c621cd3aa22662</string>
</dict>
</plist>